# Environments
.env
venv/
env/
__pycache__/
*.pyc

# IDEs
.vscode/
.idea/

# Data
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/images/*
!data/images/.gitkeep
data/labels/*
!data/labels/.gitkeep
*.db
*.sqlite3

# Models
models/*.pt
!models/.gitkeep

# Outputs
outputs/
logs/
*.log

# Jupyter
.ipynb_checkpoints/
